In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
pipe_masters = pd.read_csv('Datasets/surfstatspipemasters.csv' ,encoding = 'UTF-8')
results = pd.read_csv('Datasets/results.csv' ,encoding = 'UTF-8')
rankings = pd.read_csv('Datasets/rankings.csv' ,encoding = 'UTF-8')
fakeheats = pd.read_csv('Datasets/fakeheats.csv' ,encoding = 'UTF-8')

In [3]:
pipe_masters.head()

,Name,HWP,AHS,2018 HWP,2018 AHS,E.AHS,E.HWP,E.Heats,4-6',6-8',8-10+',Lefts,Rights,Both,Reef,Proj AHS,Placing
0,Gabriel Medina,66.92,13.59,78.57,13.22,13.07,68.18,22.0,14.07,14.20,13.89,14.29,13.64,14.35,13.83,12.72,1
1,Julian Wilson,59.14,12.55,75.00,12.59,9.71,56.52,23.0,12.71,13.17,11.53,12.18,13.60,13.22,12.78,11.16,2
2,Jordy Smith,59.57,13.02,59.38,12.78,10.97,41.67,12.0,13.42,14.35,10.26,11.51,14.47,13.98,12.57,11.56,3
3,Kelly Slater,60.18,13.93,16.67,13.13,13.48,62.50,24.0,13.19,15.11,15.68,13.97,13.96,13.50,13.87,12.90,3
4,Conner Coffin,42.48,10.77,45.16,11.15,10.83,42.86,7.0,11.71,10.93,14.21,10.67,12.25,11.92,10.58,10.52,5

In [4]:
print(results)

       Round  Heat           Surfer 1           Surfer 2           Surfer 3  \
0          1     1        Jordy Smith       Kelly Slater   Frederico Morais
1          1     2          Yago Dora        Owen Wright        Miguel Pupo
2          1     3     Italo Ferreira          Joan Duru        Keanu Asing
3          1     4     Matt Wilkinson      Filipe Toledo        Caio Ibelli
4          1     5      Julian Wilson       Tomas Hermes         Seth Moniz
5          1     6     Gabriel Medina     Connor O'Leary        Benji Brand
6          1     7      Ryan Callinan    Wade Carmichael  Griffin Colapinto
7          1     8     Kanoa Igarashi   Michael February    Sebastian Zietz
8          1     9      Michel Bourez      Michel Bourez        Ezekiel Lau
9          1    10       Jesse Mendes      Conner Coffin      Jeremy Flores
10         1    11      Kolohe Andino      Adrian Buchan     Joel Parkinson
11         1    12  Michael Rodrigues  Patrick Gudauskas    Willian Cardoso
12         2     1      Filipe Toledo        Benji Brand                NaN
13         2     2        Owen Wright         Seth Moniz                NaN
14         2     3    Wade Carmichael        Caio Ibelli                NaN
15         2     4     Kanoa Igarashi        Keanu Asing                NaN
16         2     5        Miguel Pupo      Kolohe Andino                NaN
17         2     6       Kelly Slater    Willian Cardoso                NaN
18         2     7      Ryan Callinan      Adrian Buchan                NaN
19         2     8      Jeremy Flores        Ian Gouveia                NaN
20         2     9       Jesse Mendes        Ezekiel Lau                NaN
21         2    10    Sebastian Zietz  Patrick Gudauskas                NaN
22         2    11     Connor O'Leary   Frederico Morais                NaN
23         2    12          Joan Duru       Tomas Hermes                NaN
24         3     1      Ryan Callinan     Italo Ferreira                NaN
25         3     2        Jordy Smith   Michael February                NaN
26         3     3      Conner Coffin     Matt Wilkinson                NaN
27         3     4      Michel Bourez     Connor O'Leary                NaN
28         3     5    Sebastian Zietz  Griffin Colapinto                NaN
29         3     6     Gabriel Medina         Seth Moniz                NaN
30         3     7          Yago Dora      Jeremy Flores                NaN
31         3     8      Julian Wilson        Miguel Pupo                NaN
32         3     9     Joel Parkinson     Kanoa Igarashi                NaN
33         3    10       Jesse Mendes    Wade Carmichael                NaN
34         3    11          Joan Duru  Michael Rodrigues                NaN
35         3    12       Kelly Slater      Filipe Toledo                NaN
36         4     1        Jordy Smith      Conner Coffin      Ryan Callinan
37         4     2     Gabriel Medina    Sebastian Zietz      Michel Bourez
38         4     3          Yago Dora      Julian Wilson     Joel Parkinson
39         4     4          Joan Duru       Kelly Slater       Jesse Mendes
40  Quarters     1        Jordy Smith    Sebastian Zietz                NaN
41  Quarters     2     Gabriel Medina      Conner Coffin                NaN
42  Quarters     3          Yago Dora       Kelly Slater                NaN
43  Quarters     4      Julian Wilson          Joan Duru                NaN
44     Semis     1        Jordy Smith     Gabriel Medina                NaN
45     Semis     2      Julian Wilson       Kelly Slater                NaN
46    Finals     1     Gabriel Medina      Julian Wilson                NaN

       Winner of Heat Wave Size
0         Jordy Smith      4-6'
1           Yago Dora      4-6'
2      Italo Ferriera      4-6'
3      Matt Wilkinson      4-6'
4       Julian Wilson      4-6'
5      Gabriel Medina      4-6'
6   Griffin Colapinto      4-6'
7    Michael February      4-6'
8       Michel Bourez      4-6'
9       Conner Coffin      4-6'
10     Joel Parkinson      4-6'
11  Michael Rodrigues      4-6'
12      Filipe Toledo    8-10+'
13         Seth Moniz    8-10+'
14    Wade Carmichael    8-10+'
15     Kanoa Igarashi    8-10+'
16        Miguel Pupo    8-10+'
17       Kelly Slater    8-10+'
18      Ryan Callinan    8-10+'
19      Jeremy Flores    8-10+'
20       Jesse Mendes    8-10+'
21    Sebastian Zietz    8-10+'
22     Connor O'Leary    8-10+'
23          Joan Duru    8-10+'
24      Ryan Callinan    8-10+'
25        Jordy Smith    8-10+'
26      Conner Coffin    8-10+'
27      Michel Bourez    8-10+'
28    Sebastian Zietz    8-10+'
29     Gabriel Medina    8-10+'
30          Yago Dora    8-10+'
31      Julian Wilson    8-10+'
32     Joel Parkinson    8-10+'
33       Jesse Mendes    8-10+'
34          Joan Duru    8-10+'
35                NaN    8-10+'
36        Jordy Smith      6-8'
37     Gabriel Medina      6-8'
38          Yago Dora      6-8'
39          Joan Duru      6-8'
40        Jordy Smith      6-8'
41     Gabriel Medina      6-8'
42       Kelly Slater      6-8'
43      Julian Wilson      6-8'
44     Gabriel Medina      6-8'
45      Julian Wilson      6-8'
46     Gabriel Medina      6-8'

In [5]:
df = results[(results['Surfer 1'] == 'Gabriel Medina') | (results['Surfer 2'] == 'Gabriel Medina')]
medina = df.iloc[:]
medina.tail()

,Round,Heat,Surfer 1,Surfer 2,Surfer 3,Winner of Heat,Wave Size
29,3,6,Gabriel Medina,Seth Moniz,NaN,Gabriel Medina,8-10+'
37,4,2,Gabriel Medina,Sebastian Zietz,Michel Bourez,Gabriel Medina,6-8'
41,Quarters,2,Gabriel Medina,Conner Coffin,NaN,Gabriel Medina,6-8'
44,Semis,1,Jordy Smith,Gabriel Medina,NaN,Gabriel Medina,6-8'
46,Finals,1,Gabriel Medina,Julian Wilson,NaN,Gabriel Medina,6-8'

In [6]:
df = results[(results['Surfer 1'] == 'Julian Wilson') | (results['Surfer 2'] == 'Julian Wilson')]
wilson = df.iloc[:]
wilson.tail()

,Round,Heat,Surfer 1,Surfer 2,Surfer 3,Winner of Heat,Wave Size
31,3,8,Julian Wilson,Miguel Pupo,NaN,Julian Wilson,8-10+'
38,4,3,Yago Dora,Julian Wilson,Joel Parkinson,Yago Dora,6-8'
43,Quarters,4,Julian Wilson,Joan Duru,NaN,Julian Wilson,6-8'
45,Semis,2,Julian Wilson,Kelly Slater,NaN,Julian Wilson,6-8'
46,Finals,1,Gabriel Medina,Julian Wilson,NaN,Gabriel Medina,6-8'

In [7]:
dfclean = df.drop(['Wave Size','Surfer 3', 'Round', 'Heat'], axis=1)
dfclean.head()

         Surfer 1       Surfer 2 Winner of Heat
4   Julian Wilson   Tomas Hermes  Julian Wilson
31  Julian Wilson    Miguel Pupo  Julian Wilson
38      Yago Dora  Julian Wilson      Yago Dora
43  Julian Wilson      Joan Duru  Julian Wilson
45  Julian Wilson   Kelly Slater  Julian Wilson

In [8]:
final = pd.get_dummies(dfclean, prefix=['Surfer 1', 'Surfer 2'], columns=['Surfer 1', 'Surfer 2'])

# Separate X and y sets
X = final.drop(['Winner of Heat'], axis=1)
y = final["Winner of Heat"]


# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [9]:
final.head()

,Winner of Heat,Surfer 1_Gabriel Medina,Surfer 1_Julian Wilson,Surfer 1_Yago Dora,Surfer 2_Joan Duru,Surfer 2_Julian Wilson,Surfer 2_Kelly Slater,Surfer 2_Miguel Pupo,Surfer 2_Tomas Hermes
4,Julian Wilson,0,1,0,0,0,0,0,1
31,Julian Wilson,0,1,0,0,0,0,1,0
38,Yago Dora,0,0,1,0,1,0,0,0
43,Julian Wilson,0,1,0,1,0,0,0,0
45,Julian Wilson,0,1,0,0,0,1,0,0

In [10]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  1.000
Test set accuracy:  1.000

In [11]:
rankings = pd.read_csv('Datasets/rankings.csv')
fakeheats = pd.read_csv('Datasets/fakeheats.csv')
pred_set = []

In [12]:
fakeheats.insert(1, 'first_position', fakeheats['Surfer 1'].map(rankings.set_index('Surfer')['Position']))
fakeheats.insert(2, 'second_position', fakeheats['Surfer 2'].map(rankings.set_index('Surfer')['Position']))

In [13]:
fakeheats.head()

,Surfer 1,first_position,second_position,Surfer 2,Surfer 3,Winner of Heat,Wave Size
0,Jordy Smith,5.0,8.0,Michel Bourez,Seth Moniz,NaN,4-6'
1,Matt Wilkinson,24.0,32.0,Miguel Pupo,Connor O'Leary,NaN,4-6'
2,Joel Parkinson,23.0,15.0,Michael Rodrigues,Wade Carmichael,NaN,4-6'
3,Kelly Slater,29.0,30.0,Ryan Callinan,Miguel Pupo,NaN,4-6'
4,Julian Wilson,2.0,19.0,Ezekiel Lau,Willian Cardoso,NaN,4-6'

In [14]:
for index, row in fakeheats.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Surfer 1': row['Surfer 1'], 'Surfer 2': row['Surfer 2'], 'Winner of Heat': None})
    else:
        pred_set.append({'Surfer 1': row['Surfer 2'], 'Surfer 2': row['Surfer 1'], 'Winner of Heat': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

            Surfer 1        Surfer 2 Winner of Heat
0        Jordy Smith   Michel Bourez           None
1     Matt Wilkinson     Miguel Pupo           None
2  Michael Rodrigues  Joel Parkinson           None
3       Kelly Slater   Ryan Callinan           None
4      Julian Wilson     Ezekiel Lau           None

In [15]:
pred_set = pd.get_dummies(pred_set, prefix=['Surfer 1', 'Surfer 2'], columns=['Surfer 1', 'Surfer 2'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]


pred_set = pred_set.drop(['Winner of Heat'], axis=1)
pred_set.head()

,Surfer 1_Gabriel Medina,Surfer 1_Julian Wilson,Surfer 1_Yago Dora,Surfer 2_Joan Duru,Surfer 2_Julian Wilson,Surfer 2_Kelly Slater,Surfer 2_Miguel Pupo,Surfer 2_Tomas Hermes
0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0

In [16]:

#group matches 
predictions = rf.predict(pred_set)
for i in range(fakeheats.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    
    else:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print("")

Michel Bourez and Jordy Smith
Winner: Jordy Smith

Miguel Pupo and Matt Wilkinson
Winner: Matt Wilkinson

Joel Parkinson and Michael Rodrigues
Winner: Michael Rodrigues

Ryan Callinan and Kelly Slater
Winner: Kelly Slater

Ezekiel Lau and Julian Wilson
Winner: Julian Wilson

Owen Wright and Gabriel Medina
Winner: Gabriel Medina

Kelly Slater and Griffin Colapinto
Winner: Griffin Colapinto

Ryan Callinan and Kanoa Igarashi
Winner: Kanoa Igarashi

Ezekiel Lau and Owen Wright
Winner: Owen Wright

Kelly Slater and Tomas Hermes
Winner: Tomas Hermes

Tomas Hermes and Griffin Colapinto
Winner: Griffin Colapinto

Ezekiel Lau and Owen Wright
Winner: Owen Wright

Kanoa Igarashi and Gabriel Medina
Winner: Gabriel Medina

Kelly Slater and Conner Coffin
Winner: Conner Coffin

Miguel Pupo and Griffin Colapinto
Winner: Griffin Colapinto

Ryan Callinan and Conner Coffin
Winner: Conner Coffin

Tomas Hermes and Conner Coffin
Winner: Conner Coffin

Owen Wright and Julian Wilson
Winner: Julian Wilson

Miguel Pupo and Joan Duru
Winner: Joan Duru

Filipe Toledo and Julian Wilson
Winner: Julian Wilson

Kolohe Andino and Filipe Toledo
Winner: Filipe Toledo

Tomas Hermes and Gabriel Medina
Winner: Gabriel Medina

Griffin Colapinto and Gabriel Medina
Winner: Gabriel Medina

Tomas Hermes and Griffin Colapinto
Winner: Griffin Colapinto

Conner Coffin and Filipe Toledo
Winner: Filipe Toledo

Connor O'Leary and Owen Wright
Winner: Owen Wright

Wade Carmichael and Filipe Toledo
Winner: Filipe Toledo

Kanoa Igarashi and Gabriel Medina
Winner: Gabriel Medina

Miguel Pupo and Italo Ferreira
Winner: Italo Ferreira

Kelly Slater and Jeremy Flores
Winner: Jeremy Flores

Ryan Callinan and Jesse Mendes
Winner: Jesse Mendes

Jeremy Flores and Italo Ferreira
Winner: Italo Ferreira

Jesse Mendes and Italo Ferreira
Winner: Italo Ferreira

Joan Duru and Sebastian Zietz
Winner: Sebastian Zietz

Connor O'Leary and Joel Parkinson
Winner: Joel Parkinson

Joan Duru and Jordy Smith
Winner: Jordy Smith

Ryan Callinan and Julian Wilson
Winner: Julian Wilson

Jordy Smith and Julian Wilson
Winner: Julian Wilson

Kanoa Igarashi and Conner Coffin
Winner: Conner Coffin

Michel Bourez and Julian Wilson
Winner: Julian Wilson

Kelly Slater and Sebastian Zietz
Winner: Sebastian Zietz

Michel Bourez and Gabriel Medina
Winner: Gabriel Medina

Miguel Pupo and Yago Dora
Winner: Yago Dora

Owen Wright and Julian Wilson
Winner: Julian Wilson

Ryan Callinan and Joel Parkinson
Winner: Joel Parkinson

Jesse Mendes and Julian Wilson
Winner: Julian Wilson

Joan Duru and Julian Wilson
Winner: Julian Wilson

Kelly Slater and Sebastian Zietz
Winner: Sebastian Zietz

Wade Carmichael and Jordy Smith
Winner: Jordy Smith

Yago Dora and Gabriel Medina
Winner: Gabriel Medina

Kelly Slater and Jesse Mendes
Winner: Jesse Mendes

Sebastian Zietz and Julian Wilson
Winner: Julian Wilson

Connor O'Leary and Gabriel Medina
Winner: Gabriel Medina

Joan Duru and Griffin Colapinto
Winner: Griffin Colapinto

Ryan Callinan and Kanoa Igarashi
Winner: Kanoa Igarashi

Ezekiel Lau and Jordy Smith
Winner: Jordy Smith

Kelly Slater and Conner Coffin
Winner: Conner Coffin

Griffin Colapinto and Michel Bourez
Winner: Michel Bourez

Sebastian Zietz and Owen Wright
Winner: Owen Wright

Kanoa Igarashi and Gabriel Medina
Winner: Gabriel Medina

Yago Dora and Conner Coffin
Winner: Conner Coffin

Griffin Colapinto and Julian Wilson
Winner: Julian Wilson

Ryan Callinan and Joel Parkinson
Winner: Joel Parkinson

Jesse Mendes and Conner Coffin
Winner: Conner Coffin

Joan Duru and Owen Wright
Winner: Owen Wright

Miguel Pupo and Kelly Slater
Winner: Kelly Slater

Jordy Smith and Filipe Toledo
Winner: Filipe Toledo

Filipe Toledo and Gabriel Medina
Winner: Gabriel Medina

Miguel Pupo and Yago Dora
Winner: Yago Dora

Joan Duru and Yago Dora
Winner: Yago Dora

Ryan Callinan and Jordy Smith
Winner: Jordy Smith

Michel Bourez and Gabriel Medina
Winner: Gabriel Medina

Yago Dora and Michel Bourez
Winner: Michel Bourez

Michel Bourez and Julian Wilson
Winner: Julian Wilson

Sebastian Zietz and Jordy Smith
Winner: Jordy Smith

Jordy Smith and Julian Wilson
Winner: Julian Wilson

Jordy Smith and Gabriel Medina
Winner: Gabriel Medina

In [36]:
semis = [('Jordy Smith', 'Gabriel Medina'),
            ('Kelly Slater', 'Julian Wilson')]

In [37]:
def cleanpredict(matches, rankings, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to the ranking
    for match in matches:
        positions.append(rankings.loc[rankings['Surfer'] == match[0],'Position'].iloc[0])
        positions.append(rankings.loc[rankings['Surfer'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Surfer 1': matches[j][0], 'Surfer 2': matches[j][1]})
        else:
            dict1.update({'Surfer 1': matches[j][1], 'Surfer 2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Surfer 1', 'Surfer 2'], columns=['Surfer 1', 'Surfer 2'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Winner of Heat'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        else:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print("")

In [38]:
cleanpredict(semis, rankings, final, rf)

Jordy Smith and Gabriel Medina
Winner: Gabriel Medina

Kelly Slater and Julian Wilson
Winner: Julian Wilson

In [40]:
finalss = [('Gabriel Medina', 'Julian Wilson')]

In [41]:
cleanpredict(finalss, rankings, final, rf)

Julian Wilson and Gabriel Medina
Winner: Gabriel Medina

In [46]:
#Random Heats
heat1 = [('Griffin Colapinto', 'Kelly Slater')]
cleanpredict(heat1, rankings, final, rf)
heat2 = [('Italo Ferreira', 'Kelly Slater')]
cleanpredict(heat2, rankings, final, rf)
heat3 = [('Filipe Toledo', 'Jordy Smith')]
cleanpredict(heat3, rankings, final, rf)
heat4 = [('Filipe Toledo', 'Italo Ferreira')]
cleanpredict(heat4, rankings, final, rf)
heat5 = [('Tomas Hermes', 'Kelly Slater')]
cleanpredict(heat5, rankings, final, rf)

Kelly Slater and Griffin Colapinto
Winner: Griffin Colapinto

Kelly Slater and Italo Ferreira
Winner: Italo Ferreira

Jordy Smith and Filipe Toledo
Winner: Filipe Toledo

Italo Ferreira and Filipe Toledo
Winner: Filipe Toledo

Kelly Slater and Tomas Hermes
Winner: Tomas Hermes